body,html
{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

canvas {
    width: 640px;
    height: 640px;
    position: absolute;
    display: none;
}

@media screen and (max-device-width : 480px) {
    canvas {
        width: 480px;
        height: 480px;
    }
}
